body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(180deg, #00072D 0%, #000520 100%);
}

.row {
    --bs-gutter-x: 0;
}

.btn-social:hover {
  background-color: #00072D;
  border-color: #5AFFB0;
  color: #5AFFB0;
}

.btn-social {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  font-size: 1.3rem;
  background-color: #5AFFB0;
  border-color: #5AFFB0;
  color: #00072D;
}

.btn-success {
  background-color: #5AFFB0;
  border-color: #5AFFB0;
  padding-left: 50px;
  padding-right: 50px;
  color: #00072D;
  font-weight: 500;
}

.btn-success:hover {
  background-color: #00072D;
  border-color: #5AFFB0;
  color: #5AFFB0;
}

.btn-outline-success {
  color: #5AFFB0;
  border-color: #5AFFB0;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 500;
}

.btn-outline-success:hover {
  background-color: #5AFFB0;
  border-color: #5AFFB0;
  color: #00072D;
}

.feature-image {
  margin-bottom: 24px;
}

.feature-text {
  font-size: 14px;
  font-weight: 300;
}

.feature-text-short {
  font-size: 14px;
  font-weight: 300;
  width: 460px;
}

.feature-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
}

.footer-text {
  font-size: 14px;
}

.hero {
  margin-top: 150px;
  margin-bottom: 100px;
}

.hero-line-left {
  width: 190px;
  height: 1px;
  background: linear-gradient(270deg, #7951DD 0%, rgba(32, 164, 221, 0) 100%);
  margin-top: 11px;
  margin-right: 16px;
}

.hero-line-right {
  width: 190px;
  height: 1px;
  background: linear-gradient(270deg, #7951DD 0%, rgba(32, 164, 221, 0) 100%);
  margin-top: 11px;
  transform: rotate(180deg);
  margin-left: 16px;
}

.hero-title {
  font-weight: 400;
  font-size: 60px;
  color: #FFFFFF;
}

.mr-10-px {
  margin-right: 10px;
}

.ml-10-px {
  margin-left: 10px;
}

.ml-40-px {
  margin-left: 40px;
}

.navbar {
  min-height: 40px;
  margin-top: 30px;
  padding: 0 120px 0 120px;
}

.navbar-dark .navbar-brand {
  color: #5AFFB0;
}

.navbar-dark .navbar-brand:hover {
  color: #48cc8c;
}

.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2890, 255, 176, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item {
  color: #5AFFB0;
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
  color: #5AFFB0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #48cc8c;
}

.peckshield {
  margin-bottom: 50px;
  margin-top: 40px;
}

.polygon-logo {
  height: 26px;
  margin-left: 16px;
}

.primary-color {
  color: #5AFFB0;
}

.primary-color:hover {
  color: #48cc8c;
}

.section-divider {
  background: linear-gradient(270deg, rgba(32, 164, 221, 0) 0%, #5AFFB0 48.96%, rgba(32, 164, 221, 0) 100%);
  width: 220px;
  height: 1px;
}

.section-title {
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}

.why-options-col {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
}

@media (min-width: 770px) {
  .divider-left {
    position: relative;
  }
  
  .divider-left:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgb(32, 164, 221);
    background: -webkit-linear-gradient(top, rgba(32, 164, 221, 0) 0%, #5AFFB0 48.96%, rgba(32, 164, 221, 0) 100%);
    background: linear-gradient(to bottom, rgba(32, 164, 221, 0) 0%, #5AFFB0 48.96%, rgba(32, 164, 221, 0) 100%);
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    min-height: 30px;
    margin-top: 30px;
    padding: 0 20px 0 20px;
  }
}

/* iPhone 8 */
@media screen and (max-width: 375px) {
  .hero-title {
    font-size: 50px;
  }
}

/* iPhone SE */
@media screen and (max-width: 320px) {
  .hero-title {
    font-size: 45px;
  }

  .btn-success {
    background-color: #5AFFB0;
    border-color: #5AFFB0;
    padding-left: 35px;
    padding-right: 35px;
    color: #00072D;
    font-weight: 500;
  }
  
  .btn-outline-success {
    color: #5AFFB0;
    border-color: #5AFFB0;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 500;
  }

  .ml-40-px {
    margin-left: 30px;
  }
}

.disclaimer-text {
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
  color: white;
}
